*{
    padding: 10px;
    margin:10px;
    border: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;

}

nav{
    padding: 10px;
}

a, .timer {
    text-align: center;
}

h1, h2 {
    padding: 10px;
    border: 10px auto;
    text-align: center;
}

form, button{
    text-align: center;
}

.ul, .button,
#A.active,
#B.active,
#C.active,
#D.active {
    text-align: center;
    display: table-column;
    text-indent: 10px;
    font-size: 35px;
    background-color: rgb(221, 156, 71);
}

button:hover {
    color:darkcyan;
}

#next{
    padding: 10px;
    margin:10px;
    border: 10px;
    background-color: rgb(221, 156, 71);
    float: right;
}

#previous{
    padding: 10px;
    margin:10px;
    border: 10px;
    background-color: rgb(221, 156, 71);
    float: left;
}

