*{
    padding: 10px;
    margin:10px;
    border: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;

}

nav{
    padding: 10px;
}

a, .timer {
    text-align: center;
}

h1, h2 {
    padding: 10px;
    border: 10px auto;
    text-align: center;
}

form, button{
    text-align: center;
}

button,
#A,
#B,
#C,
#D {
    font-size: 25px;
    background-color: rgb(221, 156, 71);
}

button:hover {
    color:cadetblue;
}

#next{

    background-color: rgb(221, 156, 71);
    float: center;
}

