*{
    padding: 10px;
    margin:10px;
    border: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
}

nav{
    padding: 10px;
}

a, .timer{
    text-align: center;
}

