*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 10px;
    border: 10px;
    background-color: white;
    color:black;
    
}

a, #score{
    display: block;
    text-align: left;
}

a, #timer{
    display:block;
    text-align: right;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.div, p{
    background-color:cyan;
}

input:hover{
    color:darkslategray;
}
