/* this pertains to front page of quiz */

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 10px;
    border: 10px;
    background-color: white;
    color:black;
    
}

a, #timer{
    text-align: right;
}

a, #score{
    text-align: left;
}
h1{
    font-size: 40px;
    text-align: center;
}

p{
    text-align: center;
    font-size: 35px;
}
.div, #button, #start{
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
}

.div, #button, #start:hover{
    color: darkcyan;
}

button, #start, .active{
    background-color: darkslategray;
}

